Flow1.py
[{"id":"3cc6f072.6c5ac","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5b1bd90f.900648","type":"http in","z":"3cc6f072.6c5ac","name":"GPIO","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":90,"y":240,"wires":[["678b771a.670288"]]},{"id":"d6c9dad9.f51868","type":"rpi-gpio in","z":"3cc6f072.6c5ac","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":70,"y":300,"wires":[["ba72bbbb.d19b68"]]},{"id":"ba72bbbb.d19b68","type":"function","z":"3cc6f072.6c5ac","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":300,"wires":[["249f3fc5.a65d9"]]},{"id":"678b771a.670288","type":"function","z":"3cc6f072.6c5ac","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":240,"wires":[["1de79772.cf6eb9","249f3fc5.a65d9"]]},{"id":"1de79772.cf6eb9","type":"http response","z":"3cc6f072.6c5ac","name":"","statusCode":"","headers":{},"x":490,"y":240,"wires":[]},{"id":"249f3fc5.a65d9","type":"debug","z":"3cc6f072.6c5ac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":300,"wires":[]}]
