Flow2.py
[{"id":"2f7c01e9.132dfe","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a6112c7a.48dd2","type":"http in","z":"2f7c01e9.132dfe","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":100,"y":240,"wires":[["27c1a339.72a97c","76e5648a.c65a4c"]]},{"id":"76e5648a.c65a4c","type":"function","z":"2f7c01e9.132dfe","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":360,"wires":[["f172e1e6.203bb"]]},{"id":"f172e1e6.203bb","type":"rpi-gpio out","z":"2f7c01e9.132dfe","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":480,"y":460,"wires":[]},{"id":"27c1a339.72a97c","type":"function","z":"2f7c01e9.132dfe","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["44981f7f.469a8","8cefd2d2.2aebe"]]},{"id":"44981f7f.469a8","type":"http response","z":"2f7c01e9.132dfe","name":"","statusCode":"","headers":{},"x":570,"y":240,"wires":[]},{"id":"8cefd2d2.2aebe","type":"debug","z":"2f7c01e9.132dfe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":300,"wires":[]},{"id":"7fd358a0.3e9958","type":"http in","z":"2f7c01e9.132dfe","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":120,"y":480,"wires":[["f7dee851.a402a8"]]},{"id":"f7dee851.a402a8","type":"function","z":"2f7c01e9.132dfe","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":540,"wires":[["f172e1e6.203bb"]]}]
